<ion-header>
  <ion-toolbar>
    <ion-title>Área do Discente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="saudacao">
    <ion-text>
      <h2><b>Olá, {{aluno.nome}}!</b></h2>
    </ion-text>
  </ion-row>
<section class="pagina">
  <form (ngSubmit)="enviarFormulario()" *ngIf="envioAtivo == true">
    <ion-item>
      <ion-label position="floating">Título:</ion-label>
      <ion-input [(ngModel)]="formFields.titulo" name="titulo" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Resumo:</ion-label>
      <ion-textarea [(ngModel)]="formFields.resumo" name="resumo" rows="4" autoGrow="true"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Artigo (PDF - limitado a 1MB):</ion-label>
      <ion-input (change)="onFileChange($event)" name="arquivo" type="file" accept=".pdf"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Matrícula do orientador:</ion-label>
      <ion-input [(ngModel)]="formFields.matriculaOrientador" name="nomeOrientador" type="text"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="bt-form">Enviar</ion-button>
  </form>
</section>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Meus Artigos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let art of artigos">
          <ion-label>{{art.titulo}}</ion-label>
          <ion-button color="tertiary" class="bt-art" (click)="abrirInfo(art);">
            <ion-icon slot="start" name="information-circle"></ion-icon>
            Info
          </ion-button>
          <ion-button color="warning" class="bt-art" *ngIf="art.status.id == 1 || art.status.id == 4" (click)="correcao(art)">
            <ion-icon slot="start" name="create"></ion-icon>
            Correção
          </ion-button>
        </ion-item>
        <ion-item *ngIf="artigos.length == 0 && loading == false">
          Não há artigos enviados por você...
        </ion-item>
        <ion-item *ngIf="loading == true">
          <ion-spinner name="crescent"></ion-spinner>
        </ion-item>
        
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="fechar()">Fechar</ion-button>
          </ion-buttons>
          <ion-title>Enviar Correção</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item lines="none">
          <ion-text>
         <b> Título:</b> {{artigoAtual.titulo}}
        </ion-text>

        </ion-item>
        <ion-item lines="full">
          <ion-text>
          <b>Resumo: </b>{{artigoAtual.resumo}}
        </ion-text>
        </ion-item>
        <ion-item lines="full">
          <ion-text>
          <b color="primary">Considerações do Orientador: </b>{{artigoAtual.consideracoes}}
        </ion-text>
        </ion-item>
        <form (ngSubmit)="enviarCorrecao()">
      
          <ion-item>
            <ion-label position="stacked">Artigo corrigido (limitado a 1MB):</ion-label>
            <ion-input (change)="onFileChangeCorrecao($event)" name="arquivo" type="file" accept=".pdf"></ion-input>
          </ion-item>
      
          <ion-button expand="block" type="submit" class="bt-form">Enviar</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal [isOpen]="isModalOpenInfo" (willDismiss)="onWillDismissInfo($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="fechar()">Fechar</ion-button>
          </ion-buttons>
          <ion-title>Informações do Artigo</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-item lines="full">
          <ion-text>
            <b> Título:</b> {{artigoAtual.titulo}}
          </ion-text>
        </ion-item>

        <ion-item lines="full">
          <ion-text>
            <b>Resumo: </b>{{artigoAtual.resumo}}
          </ion-text>
        </ion-item>

        <ion-item lines="full">
          <ion-text>
            <b>Orientador: </b>{{artigoAtual.orientador.nome}}
          </ion-text>
        </ion-item>

        <ion-item lines="full">
          <ion-text>
            <b>Status: </b>{{artigoAtual.status.descricao}}
          </ion-text>
        </ion-item>

        <ion-item lines="none">
          <ion-text>
            <b>Data de Envio: </b>{{artigoAtual.dataEnvio | date: 'dd/MM/yyyy HH:mm'}}
          </ion-text>
        </ion-item>

        <ion-item lines="full">
          <ion-text>
            <b>Data de Alteração: </b>{{artigoAtual.alteracao  | date: 'dd/MM/yyyy HH:mm'}}
          </ion-text>
        </ion-item>

        <ion-item lines="full">
          <ion-text>
            <b>Nota Final: </b>{{artigoAtual.notaFinal | number: '1.1-1'}}
          </ion-text>
        </ion-item>

        <ion-item lines="full" *ngIf="artigoAtual.consideracoes != null">
          <ion-text>
            <b>Considerações anteriores: </b>{{artigoAtual.consideracoes}}
          </ion-text>
        </ion-item>

        <ion-row class="center">
          <ion-button color="primary" class="bt-art bt-form" (click)="baixarArquivo(artigoAtual.url)" expand="full">
            <ion-icon slot="start" name="download-outline"></ion-icon>
            Baixar artigo
          </ion-button>
        </ion-row>

      </ion-content>
    </ng-template>
  </ion-modal>

  
</ion-content>